.create-blogpost-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  align-items: center;
}

.create-blogpost-heading {
  text-align: center;
}

.blogpost-title,
.create-blogpost-blog {
  display: block;
}

.create-text-area {
  height: 200px;
}

.blogpost-create,
.blogpost-cancel {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.blogpost-cancel {
  background-color: #f44336;
}
