.cart-container,
.appointment-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cart-title {
  font-family: Didot;
  text-align: center;
  font-size: 32px;
  color: #30d5c8;
}

.cart-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.cart-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  text-align: center;
}

.cart-service,
.cart-quantity,
.cart-price {
  padding: 0 20px;
}

.cart-service {
  font-size: 18px;
  font-weight: bold;
}

.cart-total {
  font-size: 24px;
}

.appointment-form-title {
  font-family: Didot;
  text-align: center;
  font-size: 32px;
  color: #30d5c8;
}

.appointment-form {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 100%;
  text-align: center;
}

.select-employee,
.select-date,
.select-time {
  padding: 20px;
}

.submit-appointment {
  margin-top: 20px;
  max-width: 200px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  max-width: 200px;
  margin-bottom: 20px;
}
