.owner-image img {
  max-height: 450px;
  aspect-ratio: 11/16;
}

.fa-github,
.fa-linkedin {
  padding: 1px;
}

.my-info {
  padding-top: 15px;
  text-align: center;
  align-items: center;
  align-content: center;
}
