.main-image img {
  aspect-ratio: 16/9;
  width: 100%;
  max-height: 75vh;
  animation: fade-out 8s infinite;
}

@keyframes fade-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.reviews-container {
  /* background-color: plum; */
  /* background-color: rgba(221, 160, 221, 0.8); */
}

.reviews-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.review-title {
  padding-left: 2rem;
  padding-bottom: 0;
  font-family: Didot;
  font-size: 40px;
  margin: 0;
  color: #30d5c8;
}

.company-details {
  margin-left: 2.2rem;
  font-size: 18px;
}

.review-rating {
  color: #30d5c8;
  font-size: 18px;
}

.review-name {
  font-weight: bold;
}

.review-time {
  color: gray;
}

.reviews-list {
  list-style-type: none;
}

.review-item:not(:last-child) {
  border-bottom: 1px solid grey;
  padding-bottom: 3px;
}

.leave-review-button {
  max-width: 200px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  max-width: 200px;
  margin-left: 2rem;
}

.leave-review-button:hover {
  background-color: #0056b3;
}

.edit-review-button {
  background-color: #007bff;
  color: #fff;
  border: none;

  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
}

.delete-review-button {
  background-color: red;
  color: #fff;
  border: none;

  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.button-container {
  padding: 7px;
}

.leave-review-button,
.edit-review-button,
.delete-review-button {
  padding: 8px 12px;
}

.delete-modal {
  padding: 20px;
}

.yes-button {
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.no-button {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 30px;
}

.button-container {
  text-align: center;
}
