.profile-dropdown {
  position: absolute;
  padding: 0;
}

.hidden {
  display: none;
}

.navigation-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
  border-bottom: solid gray 5px;
  background-color: darkviolet;
}

/* Style for navigation links */
/* .navigation-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.2s;
} */

.navigation-home {
  text-decoration: none;
  color: white;
  font-family: Brush Script MT;
  font-size: 40px;
  margin-left: 5px;
}

.navigation-menu li a:hover {
  color: #007bff;
}

.search-bar-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for the profile button container */
.profile-button-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.profile-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
}

/* Style for the profile button icon */
.profile-button i {
  font-size: 24px;
  cursor: pointer;
}

/* Style for the dropdown menu */
.profile-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  left: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  /* padding: 0; */
  padding: 7px;
  z-index: 2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-button-container:hover .profile-dropdown {
  display: block;
}

.profile-dropdown li {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-button {
  width: 40px;
}

.hidden {
  display: none;
}

.user-info {
  margin-bottom: 8px;
  border-bottom: solid lightgray 1px;
}

.my-appointments-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid lightgray 1px;
  cursor: pointer;
}

.my-appointments {
  font-weight: normal;
  margin-bottom: 8px;
}

.logout-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: lightskyblue;
  transition: background-color 0.2s;
  border-radius: 30px;
  padding: 10px;
  margin: 0;
}

.logout-container {
  padding-top: 7px;
}

.logout-link:hover {
  background-color: #007bff;
  cursor: pointer;
}
